.weather-app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #2e3a46;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.weather-app {
  background-color: #2e3a46;
}

.search-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.loading {
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 16px;
}

.weather-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 20px;
  overflow-x: auto;
}

.weather-card {
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  width: 20%; /* Adjusted to fit better in a row */
  margin: 10px;
  text-align: center;
  flex: 0 0 auto;
}

.weather-card h2 {
  margin: 10px 0;
}

.weather-card p {
  margin: 0;
}
